extends layout.pug

block content
    section#dashboard
        h1 Dashboard
        each station in stations
            .station_row
                .data_container
                    .data_column
                        p.data_title= station.name
                    .data_column
                        p.data_title Weather
                        p= station.weather
                    .data_column
                        p.data_title Temperature
                        p= station.temperature + " °C"
                    .data_column
                        p.data_title Wind
                        p= station.windspeed + " bft"
                    .data_column
                        p.data_title Air pressure
                        p= station.pressure + " hpa"
                div
                    a(href="/stations/"+station.station_id) Details