extends layout.pug

block content
    section#dashboard
        .station_row
            .data_container
                .data_column
                    p.data_title= latest_reading.name
                .data_column
                    p.data_title Weather
                    p= latest_reading.weather
                .data_column
                    p.data_title Temperature
                    p= latest_reading.temperature + " °C"
                .data_column
                    p.data_title Wind
                    p= latest_reading.windspeed + " bft"
                .data_column
                    p.data_title Air pressure
                    p= latest_reading.pressure + " hpa"
        div
            table
                tr
                    th Weather
                    th Temperature
                    th Wind
                    th Air pressure
                each reading in readings
                    tr
                        td= reading.weather
                        td= reading.temperature
                        td= reading.windspeed
                        td= reading.pressure